<a href="https://colab.research.google.com/github/Rizvy-chowdhury/OOP2-LAB/blob/main/Introduction__to_Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **My Python First Program "Print HeLLo World"**

---

In [3]:
print("My Name is Rizvy")

My Name is Rizvy

# **Variables and Assignment Statements**

---

In [4]:
a=14
b=3
print(a+b)

17

In [5]:
total = a+b
print(total)

17

In [6]:
name = "Rizvy"
name2 = "Tanzila"
print(name , name2)

Rizvy Tanzila

# **Types**

---

In [8]:
R =10.1111
type(R)

float

In [9]:
type(555555)

int

In [15]:
type(name)

str

# **Arithmetic operators**

---

In [16]:
 multiplication = 111*10
 print(multiplication)

1110

In [17]:
SUM = 10+100
print(SUM)

110

In [18]:
SUB = 14-3
print(SUB)

11

In [19]:
Exponentiation = 3**5
print(Exponentiation)

243

True Division (/) vs. Floor Division (//)

In [21]:
Division = 55/4
print(Division)

13.75

In [22]:
Floor_Division = 7//6
print(Floor_Division)

1

In [23]:
remainder = 33%8
print(remainder)

1

# **Relational Operators**

---

In [36]:
x = 600
y = 6000

In [37]:
x>y

False

In [38]:
x<y

True

In [39]:
x==y

False

In [40]:
x!=y

True

In [41]:
x>=y

False

In [42]:
x<=y

True

Chaining Comparisons

In [33]:
x = 3
y = 10

In [43]:
1 <= x <= 5

False

In [44]:
1 <= y <= 5

False

# **Print Function**

---

Printing a Comma-Separated List of Items

In [45]:
print('I', 'am', 'Rizvy!')

I am Rizvy!

Printing Many Lines of Text with One Statement

In [46]:
print('I\nam\n\nRizvy!')

I
am

Rizvy!

Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

Printing the Value of an Expression

In [47]:
print('Sum is', 10 + 30)

Sum is 40

What does the following print statement display?

**print('int(5.2)', 'truncates 5.2 to', int(5.2))**

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

Including Quotes in Strings

In [50]:
print('Display "hallow" in quotes')

Display "hallow" in quotes

In [51]:
print('Display \'Hallow\' in quotes')

Display 'Hallow' in quotes

In [ ]:
print("Display the name O'Brien")

Display the name O'Brien

In [52]:
print("Display \"Hallow\" in quotes")

Display "Hallow" in quotes

To avoid using \' and \" inside strings, you can enclose such strings in triple quotes:

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

Multiline Strings

In [54]:
triple_quoted_string = """This is Rizvy"""

In [ ]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [ ]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [49]:
print("""This is Rizvy \
Chowdhury""")

This is Rizvy Chowdhury

Precision Handling in Python

In [ ]:
a = 3.4536475856

In [ ]:
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [ ]:
# using "%" to print value till 4 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is : 3.4536

# **Getting Input from the User**
The built-in input function requests and obtains user input:

In [ ]:
name = input("What's your name? ")

What's your name? shifat

In [ ]:
print(name)

shifat

In [55]:
value1 = input('Enter first int: ')
value2 = input('Enter second int: ')

Enter first int: 15
Enter second int: 15

In [57]:
total = value1 + value2
print(total)

1515

In [58]:
type(total)

str

In [ ]:
total = int(value1) + int(value2) 
print(total)

70

Getting an Integer from the User by casting the input format

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [ ]:
print(another_value)

10

**Taking multiple input from the user**

In [ ]:
a, b = input().split()

10 20

In [ ]:
print(a , b)

10 20

In [ ]:
print(type(a))

<class 'str'>

# Solving Problem

**Determining the Minimum and Maximum with Built-In Functions min and max**


---

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [ ]:
min(number1,number2,number3)

20

In [ ]:
max(number1,number2,number3)

100

#***Exercises***

---



**Create the variables x = 2 and y = 3, then determine what
each of the following statements displays:**

*  print('x =', x)
*  print('Value of', x, '+', x, 'is', (x + x))
*  print('x =')
*  print((x + y), '=', (y + x))


---

In [59]:
x = 2
y = 3
print('x =', x)

x = 2

In [60]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [61]:
print('x =')

x =

In [62]:
print((x + y), '=', (y + x))

5 = 5